/* font style */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}
/* header-section style */
#header{
    margin-bottom: 120px;
}
/* nav-section style */
#navbar{
    width: 85%;
    margin:0px auto;
    padding:16px 0px;
    display: flex;
    gap: 346px;
    justify-content: center;
    align-items: center;
}
.nav-menu{
    display: flex;
    gap: 32px;
    align-items: center;
}
.nav-menu li{
    list-style: none;
}
.nav-menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: Medium;
    color: rgba(0, 0, 0, 1);
}
.nav-btn button{
    border: none;
    border-radius: 4px;
    background-color: #469165;
    padding: 12px 16px;
    cursor: pointer;
}
.nav-btn a{
    font-size: 16px;
    font-weight: SemiBold;
    color: #FFFFFF;
    text-decoration: none;
}
/* banner-section style */
#banner{
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-container{
    padding: 115.5px 120px 179.5px 120px;
    text-align: center;
}
.early-access-btn-1 button{
    border: none;
    border-radius: 1000px;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: Medium;
    color: #469165;
    padding: 8px 12px;
    cursor: pointer;
}
.early-access-heading{
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 16px;
}
.early-access-heading span{
    color: #30B868;
}
.early-access-text{
    font-size: 18px;
    font-weight: Regular;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 32px;
}
.early-access-btns .btn-2{
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    background-color:#469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: SemiBold;
    cursor: pointer;
    margin-right:18px;
}
.early-access-btns .btn-3{
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 12px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: SemiBold;
    cursor: pointer;
}
/* notes-section-style */
#notes-section{
    width: 85%;
    margin: 0px auto 120px auto;
}
.notes-content{
    text-align: center;
    margin-bottom: 44px;
}
.notes-section-title{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.notes-section-sub-title{
    font-size: 16px;
    font-weight: Regular;
    color:#627382;
}
.notes-card-container{
    display: flex;
    gap:24px;
    align-items: center;
}
.notes-box-card{
    border: none;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding:24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    text-align: center;
}
.card-img{
    background-color: #F95555;
    width: 50px;
    height:50px;
    border-radius:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 30px;
}
.card-title{
    font-size: 24px;
    font-weight: SemiBold;
    color: #001931;
    margin-bottom: 16px;
}
.card-sub-title{
    font-size: 16px;
    font-weight: Regular;
    color: #627382;
    margin-bottom:30px;
}
