/* font style */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}
/* header-section style */
#header{
    margin-bottom: 120px;
}
/* nav-section style */
#navbar{
    width: 85%;
    margin:0px auto;
    padding:16px 0px;
    display: flex;
    gap: 346px;
    justify-content: center;
    align-items: center;
}
.nav-menu{
    display: flex;
    gap: 32px;
    align-items: center;
}
.nav-menu li{
    list-style: none;
}
.nav-menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: Medium;
    color: rgba(0, 0, 0, 1);
}
.nav-btn button{
    border: none;
    border-radius: 4px;
    background-color: #469165;
    padding: 12px 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: SemiBold;
    color: #FFFFFF;
}
.nav-btn button:hover{
    background-color:rgb(109, 178, 207);
    color: #001931;
}
/* banner-section style */
#banner{
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-container{
    padding: 115.5px 120px 179.5px 120px;
    text-align: center;
}
.banner-btn-1 button{
    border: none;
    border-radius: 1000px;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: Medium;
    color: #469165;
    padding: 8px 12px;
    cursor: pointer;
}
.banner-btn-1 button:hover{
    background-color:rgb(109, 178, 207);
    color: #001931;
}
.banner-heading{
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 16px;
}
.banner-heading span{
    color: #30B868;
}
.banner-text{
    font-size: 18px;
    font-weight: Regular;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 32px;
}
.banner-btns .btn-2{
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    background-color:#469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: SemiBold;
    cursor: pointer;
    margin-right:18px;
}
.banner-btns .btn-2:hover{
    background-color:rgb(109, 178, 207);
    color: #001931;
}
.banner-btns .btn-3{
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 12px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: SemiBold;
    cursor: pointer;
}
.banner-btns .btn-3:hover{
    background-color:rgb(109, 178, 207);
    color: #001931;
}
/* notes-section-style */
#notes-section{
    width: 85%;
    margin: 0px auto 120px auto;
}
.notes-content{
    text-align: center;
    margin-bottom: 44px;
}
.notes-section-title{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.notes-section-sub-title{
    font-size: 16px;
    font-weight: Regular;
    color:#627382;
}
.notes-card-container{
    display: flex;
    gap:24px;
    align-items: center;
}
.notes-box-card{
    border: none;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding:24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    text-align: center;
}
.card-img{
    background-color: #F95555;
    width: 50px;
    height:50px;
    border-radius:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 30px;
}
.card-title{
    font-size: 24px;
    font-weight: SemiBold;
    color: #001931;
    margin-bottom: 16px;
}
.card-sub-title{
    font-size: 16px;
    font-weight: Regular;
    color: #627382;
    margin-bottom:30px;
}
/* second brain section style */
#second-brain-section{
    width: 85%;
    margin:0px auto 120px auto;
    display: flex;
    gap: 100px;
    align-items: center;
}
.second-brain-img img{
    width: 100%;
}
.section-message{
    font-size: 16px;
    font-weight: Medium;
    color:#469165;
    text-transform: uppercase;
}
.section-title{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    text-transform: capitalize;
    margin-top:16px;
    margin-bottom: 16px;
}
.section-description{
    font-size: 16px;
    font-weight: Regular;
    color: #627382;
    margin-top: 16px;
}
.section-list{
    display: flex;
    gap: 6px;
    margin-top: 40px;
}
.img-list li{
    list-style: none;
    margin-bottom:5px;
}
.text-list li{
    font-size: 16px;
    font-weight: Medium;
    color: #001931;
    list-style: none;
    margin-bottom:10px;
}
/* early-access section style */
#early-access-section{
    width: 85%;
    margin:0px auto 120px auto;
}
.early-access-container{
    padding: 80px 40px;
    text-align: center;
    background-color: #F7F6F2;
    border: none;
    border-radius: 12px;
}
.early-access-title{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.early-access-sub-title{
    font-size: 16px;
    font-weight: Regular;
    color:#627382;
    margin-top: 16px;
    margin-bottom: 24px;
}
.early-access-btn button{
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    background-color:#469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: SemiBold;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.early-access-btn button:hover{
    background-color:rgb(109, 178, 207);
    color: #001931;
}
.early-access-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 16px;
}
.msg-box{
    display: flex;
    gap:5px;
    align-items: center;
}
.msg-1{
    font-size: 16px;
    font-weight: Regular;
    color: #627382;
}
.dot{
    font-size: 5px;
    font-weight: Regular;
    color: #627382;
}
.msg-2{
    font-size: 16px;
    font-weight: Regular;
    color: #627382;
}
#footer{
    background-color: #001931;
}
.footer-container{
    padding: 120px 120px 30px 120px;
}
.footer-menu-link-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.link{
    display: flex;
    gap: 16px;
    align-items: center;
}
.text-link .text{
    font-size: 20px;
    font-weight: Medium;
    color: #FFFFFF;
}
hr{
    border:1px solid rgba(229, 231, 235, 0.1);
}
.footer-msg{
    font-size: 16px;
    font-weight: Regular;
    color: #FAFAFA;
    text-align: center;
    margin-top: 50px;
}

